
/* Geral */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #333;
  }
  
  body {
    /*background: linear-gradient(270deg, #D9A68C, #D9D68C);*/
    background: rgb(67, 69, 112);
    background: radial-gradient(
    circle,
    rgba(67, 69, 112, 1) 3%,
    rgba(35, 36, 57, 1) 60%
  );
    cursor: default;
    background-position: center;
    background-size: cover;
  }
  
  button {
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }
  
  button:hover {
    background-color: #102f5e;
  }
  
  button:hover > i {
    color: #fff;
  }
  
  button i {
    pointer-events: none;
    color: #102f5e;
    font-weight: bold;
  }
  
  input,
  select {
    padding: 0.25rem 0.5rem;
  }
  
  .hide {
    display: none;
  }
  
  /* Todo Header */

 
  .todo-container {
    max-width: 450px;
    min-height: 700px;
    margin: 3rem auto 0;
    background: linear-gradient(270deg, #D9A68C, #D9D68C);
    padding: 1.5rem;
    border-radius: 15px;
  }
  
  .todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
  }


  /*    pop-up  */
  /* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /*FIM DO POP UP*/
  

  /* Todo Form */

  #popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #fff;
    border: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }

  #todo-form,
  #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  #todo-form p,
  #edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-control {
    display: flex;
  }
  
  .form-control input {
    margin-right: 0.3rem;
  }
  
  #cancel-edit-btn {
    margin-top: 1rem;
    color: #444;
  }
  #cancel-edit-btn:hover {
    color: #fff;
  }

  /* Todo Toolbar */
  #toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
  }
  
  #toolbar h4 {
    margin-bottom: 0.5rem;
  }
  
  #search {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
  }
  
  #search form {
    display: flex;
  }
  
  #search input {
    width: 100%;
    margin-right: 0.3rem;
  }
  
  #filter {
    width: 35%;
    display: flex;
    flex-direction: column;
  }
  
  #filter select {
    flex: 1;
  }
  
  /* Todo List */
  .todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
  }
  
  .todo h3 {
    flex: 1;
    font-size: 0.9rem;
  }
  
  .todo button {
    margin-left: 0.4rem;
  }
  
  .done {
    background: #395169;
  }
  
  .done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
  }